<!----
======================================
; Title: header.ejs 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code has the code for the Pets-R-Us header that is used on each page
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/site.css">
</head>



<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/#locations">Locations</a>
        <a href="/#hours">Hours</a>
        <a href="boarding">Boarding</a>
        <a href="grooming">Grooming</a>
        <a href="training">Training</a>
        <a href="/booking">Book an Appointment</a>
        <a href="myappointments">My Appointments</a>
        <a href="/#dotw">Dog of the Week</a>
        <a href="/#testimonials">Testimonials</a>
        <a href="register">Registration</a>
        <a href="/customers">Customer List</a>
        <a href="/#contact">Contact Us</a>    
    </div>
</body>

</html>

