<!----
======================================
; Title: boarding.ejs 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code has the code for the pets-r-us boarding page
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Boarding: Pets-R-Us: The #1 Pet Store on the Eastern Shore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--The style sheet all pages use-->
        <link rel="stylesheet" href="styles/site.css">
        <!--The Google font all pages use-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    
  <body>

        <!--Calls the header (navbar) file-->
        <%- include('partials/_header.ejs') %>
      
    
    <div class="content">
      <h2>Pets-R-Us</h2>
      <p class="italics">The #1 Pet Store on the Eastern Shore</p>
      <br>
      <p>
        At Pets-R-Us we offer boarding services for all types of pets for all types of time periods.
      </p>

      <img src="/images/boarding.png" width="30%" height="30%">
      <br>
      <h1>Boarding Prices for Dogs and Cats</h1>
      <p>
        <ul>
            <li>1-7 days ($29.99 per day)</li>
            <li>8-15 days ($27.99 per day)</li>
            <li>16 -22 days ($25.99 per day)</li>
            <li>22 - 30 days ($24.99 per day)</li>
            <li>30+ days ($23.99 per day)</li>
        </ul>
      </p>
      <h3>Please <a href="/#contact">contact us</a> for other types of pets</h3>


        <h4>Recent Boarding Review:<br>
        <i>"I recently boarded my dog, Max, at Pets-R-Us and I couldn't be happier with the experience. From the moment we walked in, the staff was welcoming and attentive to both Max and myself. The facility was clean, well-maintained, and provided a safe and comfortable environment for my furry friend.

        During our stay, Max was given plenty of opportunities to play and socialize with other dogs, as well as receive individual attention from the staff. I appreciated the daily updates and pictures I received, which gave me peace of mind knowing that Max was happy and well-cared for.
        
        When I picked up Max, he was happy and relaxed, which was a clear indication that he had a great time. I would highly recommend Pets-R-Us to anyone looking for a top-notch dog boarding experience. Thank you for taking such great care of Max!" -Steven, Salisbury MD</i>
        </h4>



      
    </div>

    <!--Calls the footer file-->
    <%- include('partials/_footer.ejs') %>
 
  
  </body>
  </html>
  
    
    </body>

</html>