<!----
======================================
; Title: footer.ejs 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code has the code for the Pets-R-Us footer that is used on each page
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/site.css">
</head>



<body>
    <div class="footer">
        <p>Check us out on Instagram and Twitter!</p>
      </div>
</body>

</html>

