<!----
======================================
; Title: grooming.ejs 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code has the code for the pets-r-us grooming page
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Grooming: Pets-R-Us: The #1 Pet Store on the Eastern Shore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--The style sheet all pages use-->
        <link rel="stylesheet" href="styles/site.css">
        <!--The Google font all pages use-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    
  <body>

        <!--Calls the header (navbar) file-->
        <%- include('partials/_header.ejs') %>
      
    
    <div class="content">
      <h2>Pets-R-Us</h2>
      <p class="italics">The #1 Pet Store on the Eastern Shore</p>
      <br>
      <p>
        At Pets-R-Us we offer grooming services that include bathing, brushing, nail trimming, ear cleaning, and haircuts. Our services aim to keep pets clean, healthy, and comfortable, and can also enhance their appearance. We offer grooming services on-site, performed by trained professionals. It is important to choose a grooming service that is safe, gentle, and suitable for the specific breed and individual needs of each pet and Pets-R-Us is 4 star rated with over 1,000 reviews online.
      </p>
      <h1>Benefits of Dog Grooming</h1>
      <ul>
        <li>Improved appearance and hygiene</li>
        <li>Better skin and coat health</li>
        <li>Detect health problems early</li> 
        <li>Enhanced bonding with owner</li>
        <li>Reduced shedding and odor.</li>
      </ul>

      <img src="/images/grooming.jpg" width="30%" height="30%">
      <br>
      <h1>Individual Grooming Services Offered:</h1>
      <p>
        <ul>
            <li>Haircuts ($59.99)</li>
            <li>Bathing ($29.99)</li>
            <li>Nail Trimming ($9.99)</li>
            <li>Ear Cleaning ($9.99)</li>
            <li>Hair Brushing ($19.99)</li>
        </ul>
      </p>
      <h1>Grooming Packages Offered:</h1>
      <p>
        <ul>
            <li>Starter Package ($49.99) - (includes bath, nail trimming, ear cleaning, and hair brushing</li>
            <li>Deluxe Package ($99.99) - (includes haircut, bath, nail trimming, ear cleaning, and hair brushing</li>
        </ul>
      </p>

      
    </div>

    <!--Calls the footer file-->
    <%- include('partials/_footer.ejs') %>
 
  
  </body>
  </html>
  
    
    </body>

</html>