<!----
======================================
; Title: grooming.ejs 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code has the code for the pets-r-us grooming page
; Sources Used: N/A
;=====================================
---->

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Grooming: Pets-R-Us: The #1 Pet Store on the Eastern Shore</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/site.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    </head>
    
  <body>

    <div class="topnav">
<<<<<<< HEAD
=======
        <a href="index">Home</a>
>>>>>>> 79c4552196acd0ed547e7d2eef2bb45613f87587
        <a href="#locations">Locations</a>
        <a href="#hours">Hours</a>
        <a href="boarding.ejs">Boarding</a>
        <a href="grooming">Grooming</a>
        <a href="training">Training</a>
        <a href="book">Book an Appointment</a>
        <a href="myappointments">My Appointments</a>
        <a href="#dotw">Dog of the Week</a>
        <a href="#testimonials">Testimonials</a>
        <a href="registration">Registration</a>
        <a href="customerlist">Customer List</a>
        <a href="#contact">Contact Us</a>
      </div>
    
    <div class="content">
      <h2>Dog Days</h2>
      <p>The #1 Pet Store on the Eastern Shore</p>
    </div>
    
    <div class="footer">
      <p>Footer</p>
    </div>
 
  
  </body>
  </html>
  
    
    </body>

</html>