/*
======================================
; Title: site.css 
; Author: Chris Gorham
; Date: 28 Jan 2023
; Description: This code styles the pets-r-us website
; Sources Used: N/A
;=====================================
*/
  
  body {
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  
  a:link {
    color: #FF0000;
  }

  a:visited {
    color: #FF0000;
  }

  a:hover {
    color: #000000;
  }

  /* Styles the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Styles the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #FF0000;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #ddd;
    padding: 10px;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  /* Styles contact form container */
  .contact-container {
    border-radius:5px;
    padding: 20px;
    width: 33%;
  }

  /* Styles input text box on the contact form */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  /* Styles submit button on the contact form */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Styles submit button on hover on the contact form */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .italics {
    font-style: italic;
  }

  .table {
    padding: 10px;
    text-align: center;
  }

  .table td {
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #FFF;
  }

  .table tr {
    padding: 1px;
  }

  .table td:hover {
    background-color: #757575;
  }